::-webkit-scrollbar {
  width: 10px;
  background: black;
}

::-webkit-scrollbar-track-piece {
  background: transparent;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(8, 143, 155);
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.Landing {
  display: block;
}

.Biography,
.Scores,
.Contact {
  display: none;
}

:root {
  --main-color: rgb(165, 254, 245);
  --accent-color: rgb(8, 143, 155);
  --background-color: radial-gradient(transparent, black);
  --border-radius: 20px;
  --font-family: "Caveat";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--background-color), url(./Roundel.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: contain;
  margin: 0;
  padding: 0;
}

header,
footer {
  color: var(--main-color);
  font-family: var(--font-family);
  font-weight: 100;
  text-align: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header, main {
  flex: 1;
}

#secretButton {
  font-family: var(--font-family);
  font-size: 50px;
  font-weight: bold;
  color: var(--main-color);
}

.head_Text {
  margin: 0;
  padding: 5px;
  font-size: 40px;
}

.nav_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  width: 175px; 
  border-radius: var(--border-radius);
  border: 2px solid rgba(8, 143, 155, 0.5);
  background-color: rgb(8, 143, 155, 0.5);
  color: var(--main-color);
  font-family: var(--font-family);
  font-size: 25px;
}

.nav:hover {
  background-color: aqua;
  color: black;
  border: 1px solid black;
  -webkit-text-stroke: 0px;
}

.Landing {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  font-family: var(--font-family);
  font-size: 25px;
  font-weight: 100;
  text-align: center;
  color: var(--main-color);
  height: 75vh;
  width: 100%;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.Landing > p {
  justify-self: center;
  margin: 20px;
  padding: 10px 20px;
  border-radius: 30px;
  border: 5px solid rgba(8, 143, 155, 0.4);
  background-color: rgba(0, 0, 0, 0.6);
  font-size: 25px;
  margin-bottom: 50px;
  color: var(--main-color);
}

#videoTag {
  margin-bottom: 25px;
  border-radius: var(--border-radius);
  color: var(--main-color);
  font-family: var(--font-family);
  font-size: 25px;
}

#youtube-video {
  border-radius: 20px;
  height: 40vh;
  width: 30vw;
}

.bio {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  top: 0;
  min-height: 75vh;
}

#biopic {
  width: 600px;
  height: 600px;
  border-radius: 50%;
  margin: 10px;
  margin-right: 20px;
  border: 5px solid var(--accent-color);
  background-color: var(--main-color);
}

.bio > .text {
  background-color: rgba(102, 255, 240, 0.7);
  font-size: calc(.9vh + .9vw);
  margin: 10px;
  margin-left: 20px;
}

.text {
  display: grid;
  align-items: center;
  font-family: var(--font-family);
  font-size: calc(1vh + 1vw);
  font-weight: 100;
  height: 5%;
  width: 70%;
  padding: 7px;
  border: 5px solid var(--accent-color);
  border-radius: 30px;
  text-align: left;
  background-color: rgb(165, 254, 245, 0.8);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

#pdfViewer {
  display: flexbox;
  align-self: center;
  justify-self: center;
  border-radius: 10px;
  height: 77vh;
  width: 31%;
  padding: 20px;
  border: 5px solid var(--accent-color);
  background-color: rgb(165, 254, 245, .75);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  text-align: center;
}

#pdfViewer > iframe {
  width: 100%;
  height: 99%;
  border: none;
  border-radius: 10px;
}

.Score-Body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 20px;
}

.score-item {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: top;
  margin: 20px;
  padding: 10px;
  height: 100%;
  width: 100%;
}

.score {
  width: 350px;
  border-radius: 30px;
  padding: 5px;
  border: 5px solid var(--accent-color);
}

.score-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  background: transparent;  
  border: none;
}

.audio {
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  height: 30%;
  width: 375px;
  padding: 5px;
  font-family: var(--font-family);
  font-size: 15px;
  font-weight: 100;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  background-color: rgb(8, 143, 155, .75);
}

.audio > audio {
  height: 25px;
  justify-self: center;
}

audio::-webkit-media-controls-panel{
  background-color: var(--main-color);
}

#jumpToTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  background-color: var(--accent-color);
  color: var(--main-color);
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: opacity 0.3s ease, transform 0.2s ease;
}

#jumpToTop:hover {
  background-color: #555;
  transform: scale(1.1);
}

#jumpToTop:active {
  background-color: var(--main-color);
  color: var(--accent-color);
  transform: scale(1);
}

.Info {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  height: 75vh;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  width: 175px;
  border-radius: 50px;
  font-family: var(--font-family);
  font-size: 20px;
  font-weight: 100;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  background-color: rgba(102, 255, 240, 0.7);
  border: 5px solid rgba(8, 118, 141);
  margin: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.links:hover {
  background-color: aqua;
  color: black;
}

footer {
  text-align: center;
  color: var(--accent-color);
  padding: 1rem;
}
